<form class="form-horizontal" [formGroup]="form" method="POST" novalidate action="http://localhost:50272/api/uploadbox/Save">
  <div class="form-group">
      <label for="upload" class="control-label">Uploader</label>
      <input type ='file' id = 'uploader' name='UploadFiles'>
      <ejs-uploader id="Uploader" name="upload" class="form-control" formControlName="upload" [autoUpload] = 'false' (selected) = "onFileSelect($event)"></ejs-uploader>
  </div>
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
  <button type="reset" class="btn btn-primary">
    Reset
  </button>
</form>

<div id="details">
  <pre>{{form.value | json}}</pre>
  <pre>{{form.valid}}</pre>
</div>


<style>
  .form-control {
    border: none;
    box-shadow: none;
  }
  
  .form-horizontal {
    margin-top: 80px;
  }
  
  form {
    height: auto;
    width: 500px;
    margin: 0 auto;
  }
  #details{
    margin-top: 10px;
  }
</style>